.action-grp {
    float: right;
}

.action-grp-btn {
    margin-right: 10px;    
}

.category-name {
    border-radius: .25rem!important;
}

.table-no-result {
    text-align: center;
}

.icon-not-toggled {
    color: #c3c3c3;
}

.sort-icon {
    float: right;
}

#action-btn {
    margin-top: 10px;
}

alert {
    margin-bottom: 0!important;
}