<div class="container-fluid">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row" id="action-header">
        <div class="col">
          <button type="button" class="btn btn-primary action-grp" (click)="toggleAddMode()" [disabled]="addMode">Add Category</button>
        </div>
      </div>
      <div class="container-fluid">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th scope="col" (click)="sort('name')">Name
                <span *ngIf="sortBy === 'name'" class="fa fa-long-arrow-down sort-icon" [ngClass]="{'icon-not-toggled': isDescNotToggled('name')}"></span>
                <span *ngIf="sortBy === 'name'" class="fa fa-long-arrow-up sort-icon" [ngClass]="{'icon-not-toggled': isAscNotToggled('name')}"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories; let i = index">
              <td>
                <div class="input-group">
                  <input type="text" [(ngModel)]="category.name" class="form-control category-name action-grp-btn">
                  <button type="button" class="btn btn-warning action-grp action-grp-btn" (click)="updateCategory(category)">
                    <span class="fa fa-pencil-square-o"></span>
                  </button>
                  <button type="button" class="btn btn-danger action-grp action-grp-btn" (click)="deleteCategory(category.id, i)">
                    <span class="fa fa-times-circle"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="addMode">
              <td>
                <div class="input-group">
                  <input type="text" [(ngModel)]="newCategory" class="form-control category-name action-grp-btn">
                  <button type="button" class="btn btn-success action-grp action-grp-btn" (click)="createCategory()">
                    <span class="fa fa-check-circle"></span>
                  </button>
                  <button type="button" class="btn btn-danger action-grp action-grp-btn" (click)="toggleAddMode()">
                    <span class="fa fa-times-circle"></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="hasNoResult()">
              <td colspan="1" class="table-no-result">No data found.</td>
            </tr>
        </table>
      </div>
    </div>
  </div>