<div class="container-fluid">
  <h1 class="display-4">Categories</h1>
  <div class="container-fluid">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Input New Category.." aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="createCategory()">Save</button>
        <button class="btn btn-secondary" type="button" (click)="deleteCategory()">Delete</button>        
      </span>
    </div>
  </div>

</div>