.action-grp {
    float: right;
}

#action-header {
    margin-top: 30px;
    margin-bottom: 10px;
}

.action-grp-btn {
    margin-right: 10px;    
}

.category-name {
    border-radius: .25rem!important;
}