<div *ngIf="categories.length > 0" class="container-fluid">
    <div class="container">
        <input type="text" [(ngModel)]="searchTerm" class="form-control">
        <div class="product-list" *ngFor="let category of categories, let i = index">
            <app-product-collapsible *ngIf="isCategoryFilterPassed(category.name, searchTerm) || isProductFilterPassed(category.id, searchTerm)" [item]="category" [itemProducts]="getFilteredProducts(category.name, category.id, searchTerm)">
            </app-product-collapsible>
        </div>
    </div>
</div>