<div *ngIf="categories.length > 0" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <input id="search" type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search for...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="category-list" class="container">
                    <div class="row category category-title">
                        <div class="col-8">
                            Category Name
                        </div>
                        <div class="col-3">
                            Total Products
                        </div>
                        <div class="col">
                        </div>
                    </div>
                    <ng-container *ngFor="let category of categories, let i = index">
                        <product-collapsible *ngIf="isCategoryFilterPassed(category.name, searchTerm) || isProductFilterPassed(category.id, searchTerm)"
                            [item]="category" [itemProducts]="getFilteredProducts(category.name, category.id, searchTerm)">
                        </product-collapsible>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>