<div id="my-store-app" class="container">
  <div id="app-header" class="row">
    <div class="col">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" [attr.aria-expanded]="!isCollapsed"
          aria-label="Toggle navigation" (click)="toggleCollapse()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">MyStore</a>
        <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" [routerLink]="['categories']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Products</a>
            <div class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" ngbDropdownToggle>
                Manage Store
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" [routerLink]="['manage/category']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Category</button>
                <button class="dropdown-item" [routerLink]="['manage/product']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Product</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div id="app-body" class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>