<div>
    <div collapsible-title class="row category">
        <div class="col">
            <a routerLink="products/{{item.id}}" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ item.name }}</a>
        </div>
        <div class="col">
            {{ getTotalStocks() }}
        </div>
        <div class="col">
            <span [ngClass]="getCollapsibleIcon()" (click)="toggleContent()"></span>
        </div>
    </div>
</div>
<div *ngIf="visible">
    <div *ngFor="let product of itemProducts">
        <div class="col">
            <a routerLink="products/{{product.id}}" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ product.name }}</a>
        </div>
        <div class="col">
            {{ product.price | currency }}
        </div>
        <div class="col">
            {{ product.stocks }}
        </div>
    </div>
</div>