<div class="container-fluid">
  <div class="container-fluid">
    <div id="header" class="container-fluid">
      <div class="row">
        <div class="col">
          <h4>Products</h4>
        </div>
        <div class="col">

          <button type="button" class="btn btn-primary btn-sm action-grp" (click)="openProductModal(template, null)">Add Product</button>
          <select class="form-control action-grp filter" id="filter-options" (change)="filterByCategory()" name="filterBy" 
          [(ngModel)]="filterBy">
            <option *ngFor="let category of categories" [ngValue]="category.name">{{category.name}}</option>
          </select>
          <span class="action-grp filter">Filter By: </span>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col" (click)="sort('name')">Name
              <span *ngIf="sortBy === 'name'" class="fa fa-long-arrow-down sort-icon" [ngClass]="{'icon-not-toggled': isDescNotToggled('name')}"></span>
              <span *ngIf="sortBy === 'name'" class="fa fa-long-arrow-up sort-icon" [ngClass]="{'icon-not-toggled': isAscNotToggled('name')}"></span>
            </th>
            <th scope="col" (click)="sort('category')">Category
              <span *ngIf="sortBy === 'category'" class="fa fa-long-arrow-down sort-icon" [ngClass]="{'icon-not-toggled': isDescNotToggled('category')}"
                (click)="sort()"></span>
              <span *ngIf="sortBy === 'category'" class="fa fa-long-arrow-up sort-icon" [ngClass]="{'icon-not-toggled': isAscNotToggled('category')}"></span>
            </th>
            <th scope="col" (click)="sort('price')">Price
              <span *ngIf="sortBy === 'price'" class="fa fa-long-arrow-down sort-icon" [ngClass]="{'icon-not-toggled': isDescNotToggled('price')}"></span>
              <span *ngIf="sortBy === 'price'" class="fa fa-long-arrow-up sort-icon" [ngClass]="{'icon-not-toggled': isAscNotToggled('price')}"></span>
            </th>
            <th scope="col" (click)="sort('stocks')">Available Stocks
              <span *ngIf="sortBy === 'stocks'" class="fa fa-long-arrow-down sort-icon" [ngClass]="{'icon-not-toggled': isDescNotToggled('stocks')}"></span>
              <span *ngIf="sortBy === 'stocks'" class="fa fa-long-arrow-up sort-icon" [ngClass]="{'icon-not-toggled': isAscNotToggled('stocks')}"></span>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts; let i = index">
            <td>{{ product.name }}</td>
            <td>{{ getCategoryById(product.categoryId) }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.stocks }}</td>
            <td class="action-column">
              <button type="button" class="btn btn-warning btn-sm" (click)="openProductModal(template, product)">
                <span class="fa fa-pencil-square-o"></span>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product.id, i)">
                <span class="fa fa-times-circle"></span>
              </button>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Save Product</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="newProduct">
      <div class="form-group">
        <label for="product-name">Name</label>
        <input [(ngModel)]="newProduct.name" name="newProduct.name" type="text" class="form-control" id="product-name" placeholder="Enter product name">
      </div>
      <div class="form-group">
        <label for="product-category">Category</label>
        <select class="form-control" name="newProduct.categoryId" [(ngModel)]="newProduct.categoryId">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="product-price">Price</label>
        <input [(ngModel)]="newProduct.price" name="newProduct.price" type="number" class="form-control" id="product-name" placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="product-stocks">Available Stocks</label>
        <input [(ngModel)]="newProduct.stocks" name="newProduct.stocks" type="number" class="form-control" id="product-name" placeholder="Enter available stocks">
      </div>
      <div class="form-group">
        <label for="product-image">Image Url</label>
        <input [(ngModel)]="newProduct.imageUrl" name="newProduct.imageUrl" type="text" class="form-control" id="product-name" placeholder="Enter image url">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveCategory()">OK</button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>