.icon-not-toggled {
    color: #c3c3c3;
}

.sort-icon {
    float: right;
}

.update-icon {
    color: orange;
}

.remove-icon {
    color: red;
}

.action-grp {
    float: right;
}

#header {
    margin-top: 20px;
    margin-bottom: 10px;
}

#filter-options {
    width: 30%;
    font-size: .875rem;
    line-height: 1.5;
    height: 31px;
}

.filter {
    margin-right: 20px;    
}