.icon-not-toggled {
    color: #c3c3c3;
}

.sort-icon {
    float: right;
}

.update-icon {
    color: orange;
}

.remove-icon {
    color: red;
}

.action-grp {
    float: right;
}

#action-header {
    margin-top: 30px;
    margin-bottom: 10px;
}

#filter-options {
    width: 30%;
    font-size: .875rem;
    line-height: 1.5;
    height: 31px;
}

.action-grp-btn {
    margin-right: 10px;    
}

.table-no-result {
    text-align: center;
}

.image-url {
    text-align: center;
}